ul {
    font-size: 20px;
}
h1 {
    background-color: #ff0000;
    padding: 20px;
    font-size: 50px;
    text-align: left; 
    margin-left: -310px; 
    margin-right: -50px; 
}
h2 {
    font-size: 35px;
}

h3{
    font-size: 30px;
}
p {
    font-size: 20px;
}
body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px;
    background-color: #FDF0D5;
}

body {
    display: flex;
    flex: 0 0 100px;
   justify-content: center;
    height: auto;
    margin-top: -70px;
    margin-left: -100px;
    width: auto;

}
#table-of-contents {
    flex: 0 50 250px;
    padding: 20px;
    background-color: #f0f0f0;
    position: sticky;
    height: 50vh;
    width: 250px;
    margin-top: 190px;
    margin-left: 100px;
    }

@media screen and (max-width: 480px) {
    h1 {
        background-color: #ff0000;
        padding: 15px; /* パディングを調整 */
        font-size: 30px; /* フォントサイズを調整 */
        text-align: center; /* 中央揃えに変更 */
        margin-bottom: 50px; /* マージンをリセット */
    }
    
    h2 {
        font-size: 25px; /* フォントサイズを調整 */

    }
    
    #table-of-contents {
        flex: 100 50 250px;
        padding: 20px;
        background-color: #f0f0f0;
        position:relative;
        left: -50px;
        height: 50px;
        width: 50px;
        margin-top: 190px;
        margin-left: 1px;
    
    }
    
    body {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin: 10px; /* 余白を調整 */
        background-color: #FDF0D5;
        margin-right: -5px;
    }
	/* 480px以下に適用されるCSS（スマホ用） */
}