@media screen and(max-width:480px) {
    
}
ul {
    font-size: 20px;
}
h1 {
    background-color: #ff0000;
    padding: 20px;
    font-size: 50px;
    text-align: left; 
    margin-left: -310px; 
    margin-right: -50px; 
}
h2 {
    font-size: 35px;
}

h3{
    font-size: 30px;
}
p {
    font-size: 20px;
}
body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px;
    background-color: #FDF0D5;
}